/*headers and fonts*/

h1 {
  font-size: 25px;
}

h2 {
  font-size: x-small;
  font-weight: 400;
  margin-bottom: 0;
}

h4 {
  font-size: smaller;
  font-weight: 500;
}

small {
  display: block;
}

/*links and buttons*/

a {
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

a:hover {
  text-decoration: underline;
}

button {
  display: block;
  margin: 0 auto;
}

/*Container settings for weather app*/

.container {
  max-width: 700px;
}

.weather-app {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 10px 5px 10px 15px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

/*Search bar*/

.search-bar {
  text-align: center;
}

/*Current Weather Section*/

.today-card {
  text-align: center;
  padding: 10px 5px;
}
.card-title-top {
  margin-bottom: 0;
}

.today-T-text {
  margin: 0;
}

.today-T {
  font-size: 40px;
}

#humidity-wind {
  font-size: 12px;
}

/*Unit Conversion*/

.temp-units {
  margin: 0;
  font-size: small;
}

.active {
  color: black;
  cursor: default;
}

.active:hover {
  color: black;
  text-decoration: none;
}

/*Prediction Section*/

.prediction-wrapper {
  padding-top: 8px;
}

.prediction {
  text-align: center;
}

.future-day {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 4px;
}

.prediction-icon {
  text-align: center;
  font-size: 50px;
  overflow: hidden;
  width: 100px;
  height: 100px;
  border: 2px solid;
  border-radius: 50%;
}

.warm {
  border-color: rgba(253, 192, 85);
  background-color: rgba(253, 192, 85, 0.7);
}

.mild {
  border-color: rgba(129, 129, 129);
  background-color: rgba(129, 129, 129, 0.7);
}

.cold {
  border-color: rgb(63, 114, 172);
  background-color: rgb(63, 114, 172, 0.7);
}

/*Footer Section*/
.open-source {
  padding-top: 0;
}
